:root {
  --grid-sze: '----';
}
body{
    background-color: beige;
  
}
#container{
    padding: 2rem;
    background-color: beige;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-bottom: 32px;
    align-items: center;
    flex-basis: auto;
    font-family: monospace;
}
button{
    height: 44px;
    font-size: 14px;
    font-family: monospace;
    padding: 0px 16px;
    border-radius: 8px;
    background-color: rgb(58, 47, 107);
    color: white;
    border: none;
    transition-duration: 200ms;

}

button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

#grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 640px;
    aspect-ratio: 1/1 ;
    flex-grow: 1;

}

.gridSquare{
    width: calc(100% / var(--grid-size, 16));
    height: calc(100% / var(--grid-size, 16));
    transition-duration: 200ms;
    background-color: white;
}

.hover{
    transition-duration: 200ms;
    background-color: rgb(119, 119, 119);
}